<!-- Three -->
<section id="three">
	<h2>¡Estamos aquí para ayudarte!</h2>
	<p>
		Si tienes preguntas, comentarios o necesitas más información, no dudes en ponerte en contacto con nosotros. 
		Completa el formulario a continuación y nos comunicaremos contigo lo antes posible. </br>
		¡Tu futuro comienza con un mensaje!
	</p>
	<div class="row">
		<div class="col-8 col-12-small">
			<form method="post" action="#">
				<div class="row gtr-uniform gtr-50">
					<div class="col-6 col-12-xsmall">
						<input type="text" name="name" id="name" placeholder="Nombre" />
					</div>
					<div class="col-6 col-12-xsmall">
						<input type="email" name="email" id="email" placeholder="Correo" />
					</div>
					<div class="col-12">
						<textarea name="message" id="message" placeholder="Mensaje" rows="4"></textarea>
					</div>
				</div>
			</form>
			<ul class="actions">
				<li><input type="submit" value="Enviar Mensaje" /></li>
			</ul>
		</div>
		<div class="col-4 col-12-small">
			<ul class="labeled-icons">
				<li>
					<h3 class="icon solid fa-building">
						<span class="label">Address</span>
					</h3>
					<a href="https://maps.app.goo.gl/aYTZP8F9UeSxozY28"> Islas Malvinas Altos<br><i>pollos donde choez</i></a><br />
					Quito<br /></a>
					Ecuador
				</li>
				<li>
					<h3 class="icon solid fa-mobile-alt">
						<span class="label">Phone</span>
					</h3>					
					<a href="https://wa.me/593990651266">+593 99 065 1266</a>
				</li>
				<li>
					<h3 class="icon solid fa-envelope">
						<span class="label">Email</span>
					</h3>
					<a href="#">hello@untitled.tld</a>
				</li>
			</ul>
		</div>
	</div>
</section>
