---
import avatar from '../assets/logo.webp';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="logo" /></a><br />		
		El curso tiene como objetivo formar personas<br />
		innovadoras y profesionales<br />
		de calidad en carreras altamente demandadas.<br /><br />
	</div>
</header>
